
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
header,
section {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
ol {
  padding-left: 20px;
}

.u-over-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* Fade effect */
.u-effect-fade .u-over-slide {
  opacity: 0;
  transition: all 500ms ease;
}
.u-effect-fade:hover .u-over-slide {
  opacity: 1;
}
/* Over effect */
/* Slide effect */
/* Flip */
/* Wooble */
/* Zoom */
.u-btn {
  /*display: inline-block;*/
  display: table;
  /*TODO maye need another solution for negative marin*/
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  --border-radius: 0;
  align-self: flex-start;
}
.u-btn:focus,
.u-btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}
.u-btn:active {
  outline: 0;
  background-image: none;
}
.u-btn-rectangle {
  border-radius: 0 !important;
}
.u-button-style {
  transition-property: background-color, color, border-color;
}
a {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
/* ********  spacing ******** */
/* ********  end of spacing ******** */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  height: auto;
  min-height: 100%;
}
body,
section,
header,
footer {
  position: relative;
}
section > *,
header > *,
footer > *,
.u-sheet > * {
  position: relative;
}
a {
  color: #259bca;
  text-decoration: none;
}
a:hover {
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-spacing-10 .u-social-url + .u-social-url {
  margin-left: 10px;
}
.u-spacing-10.u-carousel-control {
  padding: 10px;
}
.u-text-default {
  display: table;
  align-self: flex-start;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}
.u-image {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
img.u-image {
  overflow: hidden;
}
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-layout-cell.u-image:not(.u-hover-box) {
  overflow: visible;
}
.u-sheet {
  position: relative;
  margin: 0 auto;
}
.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}
@media (min-width: 1400px) {
  .u-sheet {
    width: var(--theme-sheet-width-xxl) !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: var(--theme-sheet-width-lg) !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: var(--theme-sheet-width-md) !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: var(--theme-sheet-width-sm) !important;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: var(--theme-sheet-width-xs) !important;
  }
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}
.u-container-layout > * {
  position: relative;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.u-expanded-width {
  width: 100% !important;
}
.u-expanded-width:not(.custom-expanded) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.u-valign-middle,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
.u-valign-middle > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}
.u-valign-middle {
  justify-content: center;
}
.u-valign-bottom {
  justify-content: flex-end;
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter {
    max-width: 100%;
  }
}
.u-layout-row > .u-size-60 {
  flex: 0 0 100%;
  max-width: 100%;
  min-width: 100%;
}
.u-layout-col > .u-size-60 {
  flex: 60 0 auto;
}
.u-layout-row > .u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.u-layout-col > .u-size-30 {
  flex: 30 0 auto;
}
@media (min-width: 1400px) {
  .u-layout-row > .u-size-30-xl {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode  .u-layout-row > .u-size-30-xl {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-layout-row > .u-size-30-lg {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-layout-row > .u-size-60-md {
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-layout-row > .u-size-31-sm {
    flex: 0 0 51.66666667%;
    max-width: 51.66666667%;
    min-width: 51.66666667%;
  }
  .u-layout-row > .u-size-29-sm {
    flex: 0 0 48.33333333%;
    max-width: 48.33333333%;
    min-width: 48.33333333%;
  }
}
@media (max-width: 575px) {
  .u-layout-row > .u-size-31-xs {
    flex: 0 0 51.66666667%;
    max-width: 51.66666667%;
    min-width: 51.66666667%;
  }
  .u-layout-row > .u-size-29-xs {
    flex: 0 0 48.33333333%;
    max-width: 48.33333333%;
    min-width: 48.33333333%;
  }
}
.u-gutter-10 .u-layout {
  margin: -5px;
}
.u-gutter-10 .u-layout .u-layout-cell {
  border: 5px solid transparent;
}
.u-gutter-0 .u-layout {
  margin: 0px;
}
.u-gutter-0 .u-layout .u-layout-cell {
  border: 0px solid transparent;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .u-layout-col > * {
    flex-basis: auto !important;
  }
}
.u-layout-col,
.u-layout-row,
.u-layout-col > *,
.u-layout-row > * {
  display: flex;
}
.u-layout-col,
.u-layout-row {
  flex: 1 1 auto;
}
.u-layout-row > * {
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
.u-layout-col > * {
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}
.u-layout-col {
  flex-direction: column;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}
.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}
.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}
.u-absolute-hcenter {
  left: 50% !important;
  transform: translateX(-50%);
}
.u-absolute-vcenter {
  top: 50% !important;
  transform: translateY(-50%);
}
@supports (position: sticky) {
}
@supports (position: -webkit-sticky) {
}
.u-group .u-container-layout > * {
  position: relative;
}
.u-group {
  display: flex;
}
.u-line.u-line-horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
[class*="u-border-"]:not(.u-shape-svg) {
  stroke: none;
}
.u-shape-circle,
.u-shape-circle:before {
  border-radius: 50%;
}
.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}
.u-svg-link {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.u-svg-content {
  width: 0;
  height: 0;
}
.u-icon-circle {
  border-radius: 50%;
}
html {
  font-size: 16px;
}
.u-body {
  font-size: 1rem;
  line-height: 1.6;
}
.u-body h2,
.u-body h3 {
  padding: 0;
}
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.u-align-left {
  text-align: left;
}
.u-align-center {
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-center-sm {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center;
  }
}
.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
}
.u-text {
  word-wrap: break-word;
  position: relative;
}
.u-font-lato.u-custom-font {
  font-family: Lato, sans-serif !important;
}
.u-opacity-70:before {
  opacity: 0.7;
}
a.u-opacity-70 {
  opacity: 0.7;
}
.u-opacity-50:before {
  opacity: 0.5;
}
.u-opacity-50.u-line {
  opacity: 0.5;
}
.u-social-icons {
  display: flex;
}
.u-social-url {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-social-icons .u-icon {
  display: flex;
  height: 100% !important;
}
.u-social-icons .u-social-url,
.u-social-icons .u-social-url:hover {
  color: currentColor;
}
.u-social-icons a {
  height: 100%;
  display: inline-block;
  flex: 1;
}
/*begin-commonstyles photoswipe*/
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
/* style is added when JS option showHideOpacity is set to true */
/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
/* Prevent selection and tap highlights */
/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
/*
	div element that matches size of large image
	large image loads on top of it
*/
/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
/* previews */
/* end previews  */
/*end-commonstyles photoswipe*/
/*begin-commonstyles photoswipe-default*/
/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*

	1. Buttons

 */
/* <button> css reset */
/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
}
/* no arrows on touch screens */
/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
/*

	2. Share modal/popup and links

 */
/* increase size of share links on touch devices */
/*

	3. Index indicator ("1 of X" counter)

 */
/*

	4. Caption

 */
/* Fake caption element, used to calculate height of next/prev image */
/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
/*

	6. Additional styles

 */
/* root element of UI */
/* top black bar with buttons and "1 of X" indicator */
/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
/* pswp__ui--one-slide class is added when there is just one item in gallery */
.u-lightbox .u-gallery-item {
  cursor: pointer;
}
/*end-commonstyles photoswipe-default*/
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

 .u-body {
  --animation-fade_in-opacity: 0;
  --animation-fade_in_up-opacity: 0;
  --animation-fade_in_left-opacity: 0;
  --animation-fade_in_right-opacity: 0;
  --animation-fade_in_down-opacity: 0;
  --animation-fade_in_up_big-opacity: 0;
  --animation-fade_in_left_big-opacity: 0;
  --animation-fade_in_right_big-opacity: 0;
  --animation-fade_in_down_big-opacity: 0;
  --animation-fade_out-opacity: 0;
  --animation-fade_out_up-opacity: 0;
  --animation-fade_out_left-opacity: 0;
  --animation-fade_out_right-opacity: 0;
  --animation-fade_out_down-opacity: 0;
  --animation-fade_out_up_big-opacity: 0;
  --animation-fade_out_left_big-opacity: 0;
  --animation-fade_out_right_big-opacity: 0;
  --animation-fade_out_down_big-opacity: 0;
  --animation-rotate_in-rotate: -200deg;
  --animation-rotate_in_down_left-rotate: -45deg;
  --animation-rotate_in_down_right-rotate: 45deg;
  --animation-rotate_in_up_left-rotate: 45deg;
  --animation-rotate_in_up_right-rotate: -90deg;
  --animation-rotate_out-rotate: 200deg;
  --animation-rotate_out_down_left-rotate: 45deg;
  --animation-rotate_out_down_right-rotate: -45deg;
  --animation-rotate_out_up_left-rotate: -45deg;
  --animation-rotate_out_up_right-rotate: 90deg;
  --animation-roll_in-rotate: -120deg;
  --animation-roll_in-translate_x: -100%;
  --animation-roll_out-rotate: 120deg;
  --animation-roll_out-translate_x: 100%;
  --animation-zoom_in-scale: 0.3;
  --animation-zoom_in_down-scale: 0.475;
  --animation-zoom_in_down-translate_y: 60px;
  --animation-zoom_in_up-scale: 0.475;
  --animation-zoom_in_up-translate_y: -60px;
  --animation-zoom_in_left-scale: 0.475;
  --animation-zoom_in_left-translate_x: 10px;
  --animation-zoom_in_right-scale: 0.475;
  --animation-zoom_in_right-translate_x: -10px;
  --animation-zoom_out-scale: 0.3;
  --animation-zoom_out_down-scale: 0.475;
  --animation-zoom_out_down-translate_y: -60px;
  --animation-zoom_out_up-scale: 0.475;
  --animation-zoom_out_up-translate_y: 60px;
  --animation-zoom_out_left-scale: 0.475;
  --animation-zoom_out_left-translate_x: 42px;
  --animation-zoom_out_right-scale: 0.475;
  --animation-zoom_out_right-translate_x: -42px;
  --animation-slide_in_down-translate_y: -100%;
  --animation-slide_in_up-translate_y: 100%;
  --animation-slide_in_left-translate_x: -100%;
  --animation-slide_in_right-translate_x: 100%;
  --animation-slide_out_down-translate_y: 100%;
  --animation-slide_out_up-translate_y: -100%;
  --animation-slide_out_left-translate_x: -100%;
  --animation-slide_out_right-translate_x: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-opacity: 0;
  
  
  
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/*begin-commonstyles animation*/
/* Fix zoomIn animation for Internet Explorer */
/*end-commonstyles animation*/
.u-gallery-item {
  position: relative;
  overflow: hidden;
}
.u-gallery-item .u-back-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.u-back-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.u-over-slide .u-gallery-heading,
.u-over-slide .u-gallery-text {
  margin-top: 0;
  margin-bottom: 0;
}
.u-gallery.u-layout-carousel .u-carousel-indicators li {
  opacity: 0.5;
}
.u-gallery.u-layout-carousel .u-carousel-indicators li.u-active {
  opacity: 1;
}
.u-no-transition *,
.u-no-transition *:before,
.u-no-transition *:after {
  transition: none !important;
}
.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
  display: flex;
  position: relative;
}
.u-list:not(.u-repeater) {
  display: flex;
  flex-direction: column;
}
.u-list:not(.u-repeater) .u-repeater {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.u-layout-carousel {
  display: flex;
}
.u-layout-carousel .u-carousel-inner {
  flex: 1;
}
.u-layout-carousel .u-carousel-item {
  height: 100%;
  flex-direction: column;
}
.u-layout-carousel .u-carousel-item.u-active {
  display: flex;
}
.u-layout-carousel .u-carousel-item .u-back-slide {
  position: relative;
}
.u-carousel {
  position: relative;
}
.u-carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.u-carousel-item {
  position: relative;
  align-items: center;
  width: 100%;
  transition: transform 0.6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}
.u-carousel .u-carousel-item {
  display: none;
}
.u-carousel-item.u-active {
  display: block;
}
.u-carousel-control-prev,
.u-carousel-control-next {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  border: none;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.u-carousel-control-prev span svg,
.u-carousel-control-next span svg {
  vertical-align: top;
  fill: currentColor;
}
.u-carousel-control-prev:focus,
.u-carousel-control-prev:hover,
.u-carousel-control-next:focus,
.u-carousel-control-next:hover {
  text-decoration: none;
  outline: 0;
}
.u-carousel-control-prev {
  left: 0;
}
.u-carousel-control-next {
  right: 0;
}
.u-carousel-control > span {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.u-carousel-control {
  display: inline-block;
  height: 65px;
  width: 65px;
  z-index: 2;
}
.u-carousel-indicators {
  position: absolute;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.u-carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
}
.u-carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.u-carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.u-carousel-indicators li.u-active {
  opacity: 1;
}
.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
[class*="u-border-"] {
  border-style: solid;
}
.u-border-1 {
  border-width: 1px;
}
.u-border-2,
a.u-button-style.u-border-2 {
  border-width: 2px;
}
.u-radius {
  --border-radius: initial;
  --border-top-left-radius: initial;
  --border-top-right-radius: initial;
  --border-bottom-right-radius: initial;
  --border-bottom-left-radius: initial;
  --radius: initial;
  --top-left-radius: initial;
  --top-right-radius: initial;
  --bottom-right-radius: initial;
  --bottom-left-radius: initial;
}
.u-radius,
.u-radius:before {
  border-radius: var(--top-left-radius, var(--border-top-left-radius, var(--radius, var(--border-radius, 0)))) var(--top-right-radius, var(--border-top-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-right-radius, var(--border-bottom-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-left-radius, var(--border-bottom-left-radius, var(--radius, var(--border-radius, 0)))) !important;
}
/*begin-variables font-family*/
.u-body {
  font-family: 'Open Sans',sans-serif;
}
h2,
h3 {
  font-family: Roboto,sans-serif;
}
/*end-variables font-family*/
/*begin-variables color*/
.u-image {
  color: #111111;
}
.u-shading {
  color: #ffffff;
}
.u-body {
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;
}
/*end-variables color*/
/*begin-variables font*/
/*end-variables font*/
/*begin-variables colors*/
.u-none.u-button-style,
.u-none.u-button-style:hover,
.u-none.u-button-style:focus,
.u-none.u-button-style:active {
  color: inherit !important;
  background-color: transparent !important;
}
.u-palette-1-base {
  color: #ffffff;
  background-color: #478ac9;
}
.u-white,
.u-white > .u-container-layout:before {
  color: #111111;
  background-color: #ffffff;
}
.u-hover-black:hover,
.u-hover-black[class*="u-border-"]:hover,
.u-hover-black:focus,
.u-hover-black[class*="u-border-"]:focus,
a.u-button-style.u-hover-black:hover,
a.u-button-style.u-hover-black[class*="u-border-"]:hover,
a.u-button-style.u-hover-black:focus,
a.u-button-style.u-hover-black[class*="u-border-"]:focus {
  color: #ffffff !important;
  background-color: #000000 !important;
}
.u-grey-70 {
  color: #ffffff;
  background-color: #4d4d4d;
}
.u-border-white {
  border-color: #ffffff;
  stroke: #ffffff;
}
.u-border-black {
  border-color: #000000;
  stroke: #000000;
}
.u-button-style.u-border-black {
  border-color: #000000 !important;
  color: #000000 !important;
  background-color: transparent !important;
}
.u-button-style.u-border-black:hover,
.u-button-style.u-border-black:focus {
  border-color: transparent !important;
  color: #000000 !important;
  background-color: transparent !important;
}
.u-text-white {
  color: #ffffff !important;
}
a.u-button-style.u-button-style.u-text-hover-white:hover,
a.u-button-style.u-button-style.u-text-hover-white[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-button-style.u-text-hover-white:active,
a.u-button-style.u-button-style.u-button-style.u-text-hover-white[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-hover-white:focus,
a.u-button-style.u-button-style.u-text-hover-white[class*="u-border-"]:focus {
  color: #ffffff !important;
}
.u-text-body-color,
a.u-button-style.u-text-body-color,
a.u-button-style.u-text-body-color[class*="u-border-"] {
  color: #111111 !important;
}
a.u-button-style.u-text-body-color:hover,
a.u-button-style.u-text-body-color[class*="u-border-"]:hover,
a.u-button-style.u-text-body-color:focus,
a.u-button-style.u-text-body-color[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-body-color:active,
a.u-button-style.u-button-style.u-text-body-color[class*="u-border-"]:active {
  color: #0f0f0f !important;
}
/*end-variables colors*/

/*begin-variables sitestylecss*/



        .u-body
        {
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        }

        /** common-rules **/
        h2:not(.u-subtitle)
        {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h3
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p:not(.u-text-variant)
        {
        font-size: 1.125rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
        }
        a
        {
        font-size: 1.125rem;
        line-height: 1.6;
        }
        .u-btn
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        ol
        {
        font-size: 1.125rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
        }
        /** common-rules **/

        /** publish-rules **/
        /*begin-media rules*/
        @media (max-width: 767px) {
        h2:not(.u-subtitle)
        {
        font-size: 2.25rem;
        }
        }
        @media (max-width: 575px) {
        h2:not(.u-subtitle)
        {
        font-size: 1.875rem;
        }
        }
        @media (max-width: 767px) {
        h3
        {
        font-size: 1.875rem;
        }
        }
        @media (max-width: 575px) {
        h3
        {
        font-size: 1.5rem;
        }
        }
        @media (max-width: 767px) {
        p:not(.u-text-variant)
        {
        font-size: 1rem;
        }
        }
        @media (max-width: 767px) {
        a
        {
        font-size: 1rem;
        }
        }
        @media (max-width: 767px) {
        ol
        {
        font-size: 1rem;
        }
        }
        /*end-media rules*/
        /** publish-rules **/

        

        /** cms-rules **/
        /*begin-responsive rules*/
        /*end-responsive rules*/
        /** cms-rules **/

        /** color-rules **/
        a
        {
        color: #478ac9;
        }
        a:hover
        {
        color: #387cbd;
        }
        .u-btn
        {
        background-color: #478ac9;
        color: #ffffff;
        }
        .u-btn:hover
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        .u-btn:focus
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        .u-btn:active
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        /** color-rules **/

        /** alt-color-rules **/
        /** alt-color-rules **/
    


/*end-variables sitestylecss*/
 .u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 82px;
  margin: 0 auto;
}

.u-header .u-text-1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 22px 721px 0 -212px;
}

.u-header .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 98px;
  min-width: 68px;
  margin: -37px 0 33px auto;
}

.u-header .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-header .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-header .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}
@media (max-width: 1199px) {
  .u-header .u-text-1 {
    margin-right: 621px;
  }
}
@media (max-width: 991px) {
  .u-header .u-text-1 {
    margin-right: 511px;
  }
}
@media (max-width: 767px) {
  .u-header .u-text-1 {
    margin-right: 421px;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .u-header .u-text-1 {
    margin-right: 321px;
  }
}
.u-footer .u-sheet-1 {
  min-height: 299px;
}

.u-footer .u-text-1 {
  font-weight: 900;
  font-size: 1.5rem;
  width: 631px;
  margin: 46px auto 0;
}

.u-footer .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  white-space: nowrap;
  margin: 46px auto 0 509px;
}

.u-footer .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-footer .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-footer .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-footer .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

.u-footer .u-line-1 {
  transform-origin: left center 0px;
  width: 1140px;
  margin: 30px auto 0 0;
}

.u-footer .u-text-2 {
  width: 530px;
  margin: 30px auto 57px;
}
@media (max-width: 1199px) {
  .u-footer .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-footer .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}
@media (max-width: 575px) {
  .u-footer .u-text-1 {
    width: 340px;
  }

  .u-footer .u-text-2 {
    width: 340px;
  }
}

 /*begin-variables base-font-size*/ 
 html { font-size: 16px; }
 /*end-variables base-font-size*/
